html, body, div, p, ul {
  font-family: "Roboto";
}
html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  justify-content: flex-start;
}

#root {
  display: flex;
  flex-grow: 1;  
}
.App {
  flex-grow: 1;
  font-family: "Roboto";
  text-align: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

